#login {
    font-family: "BasisGrotesque-Bold-Pro";
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    line-height: 1;
    padding: 0.8rem;
}

.container {
    margin-top: 3rem;
}

.inner-container {
    margin-top: 3rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: black;
    border-radius: 0.2rem;
}