:host {
    display: block;
    background-color: black;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#title {
    font-family: 'FontDutti' !important;
    text-transform: none;
    line-height: 1;
    padding: 2rem 0;
}

#ship-cards {
    display: inline-block;
    width: 20%;
    margin: 2rem;
    padding: 1rem;
    font-family: "BasisGrotesque-Bold-Pro";
    line-height: 24px;
    font-weight: bolder;
    line-height: 1;
}

#btn-container {
    margin: 0 4rem;
    display: flex;
    justify-content: space-between;
}

#card-container {
    width: 80%;
    margin: 0 auto;
}

.card-img-top {
    line-height: 15rem;
    text-align: center;
}

.alert-container {
    width: 25rem; 
    height: 12rem; 
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.3rem;
    background-color: #f78888;
    padding: 2rem;
}


@media (max-width: 992px){
    #ship-cards {
        display: block;
    }
}